<div class="page-title-area page-title-four">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-item">
                <h2>Termos de Uso</h2>
 <!--               <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Terms & Conditions</li>
                </ul> -->
            </div> 
        </div>
    </div>
</div>

<section class="privacy-area pt-100">
    <div class="container">
        <div class="privacy-item">
            <h2>1. Termos</h2>
            <p>Ao acessar o site, concorda em cumprir estes termos de serviço, todas as leis e regulamentos aplicáveis e concorda que é responsável pelo cumprimento de todas as leis locais aplicáveis. Se você não concordar com algum desses termos, está proibido de usar ou acessar este site. Os materiais contidos neste site são protegidos pelas leis de direitos autorais e marcas comerciais aplicáveis.</p>
        </div>
        <div class="privacy-item">
            <h2>Uso de Licença</h2>
            <p>Esta é a concessão de uma licença, não uma transferência de título e, sob esta licença, você não pode:</p>
            <ul>
                <li><i class="icofont-simple-right"></i>Modificar ou copiar os materiais;</li>
            </ul>
            <p>Esta licença será automaticamente rescindida se você violar alguma dessas restrições e poderá ser rescindida a qualquer momento. Ao encerrar a visualização desses materiais ou após o término desta licença, seja em formato eletrónico ou impresso.</p>
        </div>
        <div class="privacy-item">
            <h2>Lei aplicável</h2>
            <p>Estes termos e condições são regidos e interpretados de acordo com as leis do concelho federal de psicólogia</p>
        </div>
    </div>
</section>