<div class="page-title-area page-title-three">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="page-title-item-two">
        <h2>Dr. Milenna Rosa</h2>
        <h3>Neuropsicóloga.</h3>
        <p>MBBS em Neurology, PHD em Neurosurgeon.</p>
      </div>
    </div>
  </div>
</div>

<div class="doctor-details-area pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="doctor-details-item doctor-details-left">
          <img src="assets/img/doctor/3.jpg" alt="Doctor">

          <div class="doctor-details-contact">
            <h3>Contato</h3>
            <ul>
              <li>
                <i class="icofont-ui-call"></i>
                <a href="tel:+5512991519653">Celular : +55 12 9 9151-9653</a>
              </li>
              <li>
                <i class="icofont-ui-message">
              </i>
                <a href="mailto:milenna.psicologia@gmail.com">milenna.psicologia@gmail.com</a>
              </li>
              <li>
                <i class="icofont-location-pin"></i>
                Rua Arnaldo Ricardo Monteiro 71,
                Jardim São Dimas, São josé dos Campos - SP
            </li>
          </ul>
        </div>

        <div class="doctor-details-work">
          <h3>Horários</h3>
          <div class="appointment-item-two-right">
            <div class="appointment-item-content">
              <div class="content-one">
                <ul>
                  <li>Segunda-feira</li>
                  <li>Terça-feira</li>
                  <li>Quarta-feira</li>
                  <li>Quinta-feira</li>
                  <li>Sexta-feira</li>
                </ul>
              </div>
              <div class="content-two">
                <ul>
                  <li>9:00 am - 8:00 pm</li>
                  <li>9:00 am - 8:00 pm</li>
                  <li>9:00 am - 8:00 pm</li>
                  <li>9:00 am - 8:00 pm</li>
                  <li>9:00 am - 8:00 pm</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-7">
      <div class="doctor-details-item">
        <div class="doctor-details-right">
          <div class="doctor-details-biography">
            <h3>Psicoterapia</h3>
            <p>O acompanhamento psicoterápico visa prevenir agravos a saúde psíquica do paciente, buscando desenvolver, através de técnicas e avaliações, as estratégias necessárias para promover o bem estar psicológico do mesmo.</p><br>
          </div>
          <div class="doctor-details-biography">
            <h3>Education</h3>
            <ul>
              <li>Especialista em Neuroaprendizagem com atuação em orientação profissional</li>
              <li>Psicoterapia individual comportamental de adolescentes, crianças e adultos</li>
              <li>Prática de instrumentos psicológicos clínicos</li>
              <li>Perita psicóloga</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


