<footer class="pb-70">

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="footer-item">
          <div class="footer-contact">
            <h3>Contato</h3>
            <ul>
              <li>
                <i class="icofont-ui-message"></i>
                <a href="mailto:milenna.psicologia@gmail.com">milenna.psicologia@gmail.com</a>
              </li>
              <li>
                <i class="icofont-whatsapp"></i>
                <a href="https://api.whatsapp.com/send?phone=5512991519653&text=Gostaria%20de%20agendar%20uma%20consulta." target="_blanck">WhatsApp : +55 12 9 9151-9653</a>
              </li>
              <li>
                <i class="icofont-stock-mobile"></i>
                <a href="tel:+5512991519653">Celular : +55 12 9 9151-9653</a>
              </li>
              <li>
                <i class="icofont-location-pin"></i>
                <a href="https://www.google.com/maps/place/R.+Arnaldo+Ricardo+Monteiro,+71+-+Jardim+Sao+Dimas,+S%C3%A3o+Jos%C3%A9+dos+Campos+-+SP,+12245-110/@-23.2043601,-45.895482,17z/data=!3m1!4b1!4m5!3m4!1s0x94cc4a6ff534e327:0xe2760ff7fc807328!8m2!3d-23.2043601!4d-45.8932933" target="_blanck">Rua Arnaldo Ricardo Monteiro 71, Jardim São Dimas, São josé dos Campos - SP</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-5">
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="footer-item">
          <div class="footer-quick">
            <h3>Acesso Rápído</h3>
            <ul>
              <li><a href="https://www.facebook.com/PSIMILENNAROSA/" target="_blank">Facebook</a></li>
              <li><a href="https://instagram.com/psimilennarosa" target="_blank">Instagram</a></li>
              <li><a href="https://www.psitto.com.br/psicologo/milenna-rosa-silva" target="_blank">Psitto</a></li>
              <li><a href="https://www.doctoralia.com.br/milenna-rosa-silva/psicologo/sao-jose-dos-campos" target="_blank">Doctoralia</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright-area">
  <div class="container">
    <div class="copyright-item">
      <p>Copyright @2023 Desenvolvido por: <a href="https://www.linkedin.com/in/alci-barros-programador/" target="_blank">Alci Barros</a> </p>
      <p>Version: <a>10.01.02</a> </p>
    </div>
  </div>
</div>
