<footer class="pb-70">

  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-lg-5">
        <div class="footer-item">
          <div class="footer-contact">
            <h3>Contato</h3>
            <ul>
              <li>
                <i class="icofont-whatsapp"></i>
                <a href="https://api.whatsapp.com/send?phone=5512992073564" target="_blanck">WhatsApp : +55 12 992073564</a>
              </li>
              <li>
                <i class="icofont-stock-mobile"></i>
                <a href="tel:+551299073564">Celular : +55 12 99207-3564</a>
              </li>
              <li>
                <i class="icofont-location-pin"></i>
                <a href="https://www.google.com.br/maps/place/R.+Cel.+Jos%C3%A9+Domingues+de+Vasconcelos,+181+-+Vila+Adyana,+S%C3%A3o+Jos%C3%A9+dos+Campos+-+SP,+12243-840/@-23.1960591,-45.8938789,18z/data=!3m1!4b1!4m5!3m4!1s0x94cc4a6d3d632213:0xa71c41232d01f5f4!8m2!3d-23.1960591!4d-45.8927846" target="_blanck">Rua Cel. José Domingues de Vasconcelos, 181, <br>Vila Adyana, São José dos Campos - SP, <br>CEP 12243-840</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-4">
        <div class="footer-item">
          <div class="footer-quick">
            <h3>Plataformas</h3>
            <ul>
              <li><a>Amazon - AWS</a></li>
              <li><a>Google - GCP</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-3">
        <div class="footer-item">
          <div class="footer-quick">
            <h3>Linguagens</h3>
            <ul>
              <li><a>Java</a></li>
              <li><a>Node</a></li>
              <li><a>Angular</a></li>
              <li><a>React</a></li>
              <li><a>iOS</a></li>
              <li><a>PHP</a></li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
</footer>

<div class="copyright-area">
  <div class="container">
    <div class="copyright-item">

      <p>Copyright Desenvolvido por: <a href="https://www.linkedin.com/in/alci-barros-programador/" target="_blank">Alci Barros</a>

      </p>
    </div>
  </div>
</div>
