<div class="header-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-9 col-lg-9">
        <div class="header-top-item">
          <div class="header-top-left">
            <ul>
              <li>
                <a href="https://api.whatsapp.com/send?phone=5512991519653&text=Gostaria%20de%20agendar%20uma%20consulta." target="_blanck">
                  <i class="icofont-whatsapp"></i>WhatsApp : +55 12 9 9151-9653</a>
              </li>
              <li>
                <a href="tel:+5512991519653"><i class="icofont-ui-call"></i>Celular : +55 12 9 9151-9653</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-lg-3">
        <div class="header-top-item">
          <div class="header-top-right">
            <ul>
              <li><a href="https://www.facebook.com/PSIMILENNAROSA/" target="_blank"><i class="icofont-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/milenna-rosa/?originalSubdomain=br" target="_blank"><i class="icofont-linkedin"></i></a></li>
              <li><a href="https://instagram.com/psimilennarosa" target="_blank"><i class="icofont-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="navbar-area sticky-top">
  <div class="mobile-nav">
    <a routerLink="/" class="logo"><img src="assets/img/home-one/home-bg23.png" alt="Logo"></a>
  </div>

  <div class="main-nav">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" routerLink="/"><img src="assets/img/home-one/home-bg22.png" alt="Logo"></a>
      </nav>
    </div>
  </div>
</div>
