<div class="login-box">
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <app-form [formGroup]="formGroup">

      <div class="form-group has-feedback">

        <app-input-text type="email"
              formControlName="email"
              placeholder="E-mail"
              requiredMessage="Informe o e-mail"
              minlengthMessage="Deve ter pelo menos {0} / {1} caracteres" >
        </app-input-text>

      </div>

      <div class="form-group has-feedback">

        <app-input-text type="password"
              formControlName="password"
              placeholder="Senha"
              requiredMessage="Informe a senha"
              minlengthMessage="Deve ter pelo menos {0} / {1} caracteres">
        </app-input-text>

      </div>

      <div class="login-action" >
        <div style="display: grid; align-content: center; white-space: nowrap">
          <div class="checkbox">
             <input type="checkbox"> Remember Me
          </div>
        </div>
        <app-button (outputClick)="onClick($event)"  style="min-width: 140px;">
          Entrar
        </app-button>


     </div>
    </app-form>
    <br/>
    <!-- <app-button (outputClick)="onClickv2($event)"  style="min-width: 140px;">
      Redirect
    </app-button> -->

  </div>

</div>
